@tailwind base;
@tailwind components;
@tailwind utilities;


/* global styles */
body {
  font-family: 'Arial', sans-serif;
}

input[type="radio"] {
  margin-right: 8px;
}

label {
  margin-bottom: 8px;
  display: block;
}

