@tailwind base;
@tailwind components;
@tailwind utilities;


/* global styles */
body {
  font-family: 'Arial', sans-serif;
}

input[type="radio"] {
  margin-right: 8px;
}

label {
  margin-bottom: 8px;
  display: block;
}


@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}

.animate-fade-up {
  animation: fadeUp 1.5s ease-in-out forwards;
}
